<template>
  <v-row class="fill-height" align-content="center" justify="center" >
    <v-overlay >
      <v-card width="400px" color="darken" >
        <v-card-text  align="center" class="subtitle-1"> Guardando Información </v-card-text>
        <v-progress-linear indeterminate color="info" height="6" persistent></v-progress-linear>
      </v-card>
    </v-overlay>
  </v-row>
</template>