<template>
	<v-container>
	  <v-row>
	  	<v-snackbar
	      v-model="snackbar"
	      :color="color"
	      top
	    >
	      {{text}}
	      <v-btn text dark @click.native="snackbar = false">Close</v-btn>
	    </v-snackbar>

	  	<v-col cols="12">
	  		<v-data-table
			    :headers="headers"
			    :items="cupones"
			    sort-by="calories"
			    class="elevation-1"
			  >
			  	<template v-slot:item.tipo="{ item }">
			      <div v-if="item.tipo == 1">Fijo</div>
			      <div v-else>Porcentaje</div>
			      <div></div>
			    </template>

			    <template v-slot:item.estatus="{ item }">
			      <div v-if="item.estatus == 1">Activo</div>
			      <div v-else>Inactivo</div>
			      <div></div>
			    </template>

			    <template v-slot:top>
			      <v-toolbar
			        flat
			      >
			        <v-toolbar-title>Cupones</v-toolbar-title>
			        <v-divider
			          class="mx-4"
			          inset
			          vertical
			        ></v-divider>
			        <v-spacer></v-spacer>
			        <v-dialog
			          v-model="dialog"
			          max-width="1000px"
			        >
			          <template v-slot:activator="{ on, attrs }">
			            <v-btn
			              color="primary"
			              dark
			              class="mb-2"
			              v-bind="attrs"
			              v-on="on"
			            >
			              Agregar
			            </v-btn>
			          </template>
			          <v-card>
			            <v-card-title>
			              <span class="text-h5">{{ formTitle }}</span>
			            </v-card-title>

			            <v-card-text>
			              <v-container>
			                <v-row>
			                  <v-col cols="12">
			                    <v-text-field
			                      v-model="editedItem.cupon"
			                      label="Nombre"
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" sm="6" lg="3">
			                    <v-text-field
			                      v-model="editedItem.fecha1"
			                      label="Fecha inicio"
			                      type="date"
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" sm="6" lg="3">
			                    <v-text-field
			                      v-model="editedItem.fecha2"
			                      label="Fecha final"
			                      type="date"
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" sm="6" lg="2">
			                    <v-text-field
			                      v-model="editedItem.cantidad"
			                      label="Cantidad"
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" sm="6" lg="2">
			                    <v-text-field
			                      v-model="editedItem.canjeados"
			                      label="Canjeados"
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" sm="6" lg="4">
			                    <v-text-field
			                      v-model="editedItem.descuento"
			                      label="Descuento"
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" sm="6" lg="4">
			                  	Tipo de descuento
			                    <v-radio-group
											      v-model="editedItem.tipo"
											      row
											    >
											      <v-radio
											        label="Fijo"
											        :value="1"
											      ></v-radio>
											      <v-radio
											        label="Porcentaje"
											        :value="2"
											      ></v-radio>
											    </v-radio-group>
			                  </v-col>

			                  <v-col
			                    cols="12"
			                    sm="6"
			                    md="4"
			                  >
			                  	<v-switch label="Activo" v-model="editedItem.estatus"></v-switch>
			                  </v-col>
			                </v-row>
			              </v-container>
			            </v-card-text>

			            <v-card-actions>
			              <v-spacer></v-spacer>
			              <v-btn
			                color="blue darken-1"
			                @click="close"
			                dark
			              >
			                Cancelar
			              </v-btn>
			              <v-btn
			                color="blue darken-1"
			                @click="save"
			                dark
			              >
			                Guardar
			              </v-btn>
			            </v-card-actions>
			          </v-card>
			        </v-dialog>
			      </v-toolbar>
			    </template>
			    <template v-slot:item.actions="{ item }">
			      <v-icon
			        small
			        class="mr-2"
			        @click="editItem(item)"
			      >
			        mdi-pencil
			      </v-icon>
			      <v-icon
			        small
			        @click="deleteItem(item)"
			      >
			        mdi-delete
			      </v-icon>
			    </template>
			    <template v-slot:no-data>
			      <v-btn
			        color="primary"
			        @click="initialize"
			      >
			        Reset
			      </v-btn>
			    </template>
			  </v-data-table>
	  	</v-col>
	  </v-row>
	</v-container>
</template>

<script>
  export default {
    data: () => ({
    	text:'',
      snackbar:false,
      color:'',

      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'idcupones'   , align: 'start', sortable: false, value: 'idcupones', },
        { text: 'Cupon'       , value: 'cupon' },
        { text: 'Fecha inicio', value: 'fecha1' },
        { text: 'Fecha fin'   , value: 'fecha2' },
        { text: 'Cantidad'    , value: 'cantidad' },
        { text: 'Canjeados'   , value: 'canjeados' },
        { text: 'Descuento'   , value: 'descuento' },
        { text: 'tipo'        , value: 'tipo' },
        { text: 'Estatus'        , value: 'estatus' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      cupones: [],
      editedIndex: -1,
      editedItem: {
      	idcupones:0,
        cupon:'', 
        fecha1:'',
        fecha2:'',
        cantidad:'',
        canjeados:'',
        descuento:'',
        tipo:1,
        estatus:1
      },
      defaultItem: {
        idcupones:0,
        cupon:'', 
        fecha1:'',
        fecha2:'',
        cantidad:'',
        canjeados:'',
        descuento:'',
        tipo:1,
        estatus:1
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar' : 'Actualizar'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.cupones = []
        this.$http.get('cupones.all').then(response=>{
        	this.cupones = response.body
        }).catch(error=>{
        	console.log(error)
        })
      },

      editItem (item) {
        this.editedIndex = this.cupones.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          this.$http.put('cupones.update/' + this.editedItem.idcupones, this.editedItem).then(response=>{
	        	this.initialize()
	        }).catch(error=>{
	        	console.log(error)
	        })
        } else {
          this.$http.post('cupones.add', this.editedItem).then(response=>{
	        	this.initialize()
	        }).catch(error=>{
	        	console.log(error)
	        })
        }
        this.close()
      },
    },
  }
</script>