<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col cols="12" md="6" lg="4" xl="3">
        <v-card class="shadowCard pb-2">
          <v-card-title primary-title>
            <div class="pb-0 card-header text-start">
              <h3 class="font-weight-bolder text-info text-gradient">
                Hola, bienvenido
              </h3>
              <p class="mb-0 grey--text text-caption">Ingresa tu usuario y contraseña</p>
            </div>
          </v-card-title>
          <v-card-text class="pb-0">
            <v-subheader>Usuario</v-subheader>
            <v-text-field
              filled
              dense
              rounded
              hide-details
              v-model="email"
              prepend-inner-icon="mdi-account"
            ></v-text-field>

            <v-subheader>Contraseña</v-subheader>
            <v-text-field
              prepend-inner-icon="lock"
              :append-icon="show1 ? 'visibility' : 'visibility_off'"
              :type="show1 ? 'text' : 'password'"
              hint="At least 8 characters"
              @click:append="show1 = !show1"
              filled
              rounded
              dense
              v-model="password"
            ></v-text-field>
          </v-card-text>

          <v-card-actions class="px-4 mt-4">
            <v-btn 
              class="font-weight-bolder btn bg-gradient-info text-caption white--text"
              block 
              rounded
              @click="ingresar()"
            >Iniciar sesión
            </v-btn>
          </v-card-actions>

          
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
  </v-container>
</template>

<script>
  import router from '@/router'
  import {mapActions , mapGetters} from 'vuex'

  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  
  const md5     = require('md5')
  
  export default {

    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data(){
      return{
        url:'',
        password: '',
        email:'',
       
        show1: false,

        rules: {
          required: value => !!value || 'Requerido.',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        },

        respuestaAlerta: false,
        loader: true,
        cargar: false,
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },
      }
    },

    created(){
      if(this.getLogeado){
        this.$router.push({ name: 'home' })  
      }
    },

    computed:{
      ...mapGetters('Login',['getdatosUsuario','getLogeado']),
    },

    
    methods:{
      ...mapActions('Login',['validarUser']),
      ...mapActions('Login',['GetInfoUser' ,]),


      ingresar (){
        if(this.email != '' && this.password != ''){
          var usuario = { 
            email  : this.email,
            password : md5(this.password)
          }

          this.cargar = true
          // Traemos la información del usuario
          this.GetInfoUser(usuario).then(response => {
            this.cargar = false
            this.$router.push({ name: 'home'})
          }).catch( error =>{

            console.log( error )
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }else{
          this.cargar = false
          this.validarErrorDirecto('Favor de ingresar los datos')
        }
      }
    }
  };


</script>

<style scoped>
  
  .logo{
    align-content: "center";
    text-align: center;
  }

  .text-gradient {
    background: rgb(0,254,255);
    background: linear-gradient(180deg, rgba(0,254,255,1) 0%, rgba(2,0,55,1) 100%);
    -webkit-background-clip: text;
    color: transparent;  
  }

  .bg-gradient-info{
    background: rgb(0,150,150);
    background: linear-gradient(90deg, rgba(0,150,150,1) 0%, rgba(2,0,55,1) 100%);
  }

  .back-img{
    position: relative;
    height:  100%;
    overflow: hidden;
    background-size: cover;
    z-index:  0;
  }

</style>


  